<!--<p>dasboard works!</p>-->
<div class="row justify-content-center">
  <div class="col-md-3">
  <mat-card class="case">
    <mat-card-title>Confirm</mat-card-title>
    <mat-card-content><h5>{{totalConfirm}}</h5></mat-card-content>
  </mat-card>
  </div>
  <div class="col-md-3">
    <mat-card class="case2">
      <mat-card-title>Cases</mat-card-title>
      <mat-card-content><h5>{{totalCase}}</h5></mat-card-content>
    </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="case3">
        <mat-card-title>Deaths Rate</mat-card-title>
        <mat-card-content><h5 class="">{{toralDeath_per}}</h5></mat-card-content>
      </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="case4">
          <mat-card-title>Recoverd Rate</mat-card-title>
          <mat-card-content><h5>{{totalLife}}</h5></mat-card-content>
        </mat-card>
        </div>
</div>
